1. Working with RDDs:
   a) Write a Python program to create an RDD from a local data source.
   b) Implement transformations and actions on the RDD to perform data processing tasks.
   c) Analyze and manipulate data using RDD operations such as map, filter, reduce, or aggregate.

a) Write a Python program to create an RDD from a local data source.

In [ ]:
from pyspark import SparkContext

# Create a SparkContext
sc = SparkContext(appName="RDDExample")

# Create an RDD from a local data source
data = [1, 2, 3, 4, 5]
rdd = sc.parallelize(data)

b) Implement transformations and actions on the RDD to perform data processing tasks.

In [ ]:
# Transformation: map - Multiply each element by 2
rdd_mapped = rdd.map(lambda x: x * 2)

# Transformation: filter - Filter even numbers
rdd_filtered = rdd.filter(lambda x: x % 2 == 0)

# Action: reduce - Sum all elements
rdd_sum = rdd.reduce(lambda x, y: x + y)

# Action: collect - Retrieve the RDD elements as a list
rdd_list = rdd.collect()

# Action: count - Count the number of elements in the RDD
rdd_count = rdd.count()

c) Analyze and manipulate data using RDD operations such as map, filter, reduce, or aggregate.

In [ ]:
# Transformation: map - Square each element
rdd_squared = rdd.map(lambda x: x ** 2)

# Transformation: filter - Filter values greater than 3
rdd_filtered = rdd.filter(lambda x: x > 3)

# Action: reduce - Calculate the product of all elements
rdd_product = rdd.reduce(lambda x, y: x * y)

# Action: aggregate - Calculate the sum and count of elements
(rdd_sum, rdd_count) = rdd.aggregate((0, 0),
                       (lambda acc, value: (acc[0] + value, acc[1] + 1)),
                       (lambda acc1, acc2: (acc1[0] + acc2[0], acc1[1] + acc2[1])))

2. Spark DataFrame Operations:
   a) Write a Python program to load a CSV file into a Spark DataFrame.
   b)Perform common DataFrame operations such as filtering, grouping, or joining.
   c) Apply Spark SQL queries on the DataFrame to extract insights from the data.

a) Write a Python program to load a CSV file into a Spark DataFrame.

In [ ]:
# Create a temporary view for the DataFrame
df.createOrReplaceTempView("people")

# Execute a SQL query on the DataFrame
result_df = spark.sql("SELECT name, age FROM people WHERE age > 30")

b)Perform common DataFrame operations such as filtering, grouping, or joining.

In [ ]:
# Filter rows based on a condition
filtered_df = df.filter(df["age"] > 30)

# Group by a column and calculate average
average_age_df = df.groupBy("city").avg("age")

# Join two DataFrames
joined_df = df.join(other_df, df["id"] == other_df["id"], "inner")

c) Apply Spark SQL queries on the DataFrame to extract insights from the data.

In [ ]:
# Create a temporary view for the DataFrame
df.createOrReplaceTempView("people")

# Execute a SQL query on the DataFrame
result_df = spark.sql("SELECT name, age FROM people WHERE age > 30")

In [ ]:
3. Spark Streaming:

In [ ]:
a) Write a Python program to create a Spark Streaming application.

In [ ]:
from pyspark.streaming import StreamingContext
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("StreamingExample").getOrCreate()

# Create a StreamingContext with a batch interval of 1 second
ssc = StreamingContext(spark.sparkContext, 1)

# Set the log level to avoid excessive logging
spark.sparkContext.setLogLevel("ERROR")

In [ ]:
b) Configure the application to consume data from a streaming source (e.g., Kafka or a socket).

In [ ]:
# Define the hostname and port for the socket source
hostname = "localhost"
port = 9999

# Create a DStream by connecting to the socket source
lines = ssc.socketTextStream(hostname, port)

In [ ]:
c) Implement streaming transformations and actions to process and analyze the incoming data stream.

In [ ]:
# Transformation: flatMap - Split each line into words
words = lines.flatMap(lambda line: line.split())

# Transformation: filter - Filter words starting with 'a'
filtered_words = words.filter(lambda word: word.startswith('a'))

# Action: countByValue - Count the occurrences of each word
word_counts = filtered_words.countByValue()

# Output the word counts
word_counts.pprint()
# Transformation: flatMap - Split each line into words
words = lines.flatMap(lambda line: line.split())

# Transformation: filter - Filter words starting with 'a'
filtered_words = words.filter(lambda word: word.startswith('a'))

# Action: countByValue - Count the occurrences of each word
word_counts = filtered_words.countByValue()

# Output the word counts
word_counts.pprint()

In [ ]:
4. Spark SQL and Data Source Integration:

In [ ]:
a) Write a Python program to connect Spark with a relational database:

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("SparkSQLExample") \
    .config("spark.driver.extraClassPath", "jdbc_driver.jar") \
    .getOrCreate()

# Configure the database connection
database_url = "jdbc:mysql://localhost:3306/database_name"
database_properties = {
    "user": "username",
    "password": "password"
}

# Read data from the database into a DataFrame
df = spark.read \
    .format("jdbc") \
    .option("url", database_url) \
    .option("dbtable", "table_name") \
    .option("properties", database_properties) \
    .load()

In [ ]:
b) Perform SQL operations on the data stored in the database using Spark SQL:

In [ ]:
# Create a temporary view for the DataFrame
df.createOrReplaceTempView("my_table")

# Execute SQL queries on the DataFrame
result_df = spark.sql("SELECT * FROM my_table WHERE column_name > 10")
result_df.show()
# Create a temporary view for the DataFrame
df.createOrReplaceTempView("my_table")

# Execute SQL queries on the DataFrame
result_df = spark.sql("SELECT * FROM my_table WHERE column_name > 10")
result_df.show()

In [ ]:
c) Explore the integration capabilities of Spark with other data sources:

Spark provides integration capabilities with various data sources, such as HDFS or Amazon S3. You can use the appropriate file system connectors to read and write data from these sources. Here's an example of reading data from HDFS using Spark:

In [ ]:
# Read data from HDFS into a DataFrame
df_hdfs = spark.read.csv("hdfs://localhost:9000/path/to/file.csv", header=True, inferSchema=True)